.form-container {
  margin-top: 50px;
  max-width: 350px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  background-color: grey;
  color: white;
  border-radius: 3px;
  padding: 10px;
}
